@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: initial;
}

ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

.row > * {
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
html body {
  font-size: 1.8rem;
  color: #FFFFFF;
  background-color: #151816;
  font-weight: 300;
}
html body .title_container .h3__title {
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 50px 0;
}
html body .orbitron__font {
  font-family: "Orbitron", sans-serif;
}
html body .block__padding {
  padding: 0 0 100px 0;
}
html body .btn a {
  padding: 20px 95px;
  font-size: 2rem;
  font-weight: 700;
  background-image: url("../img/icons/btn_bg.svg");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #151816;
  text-decoration: none;
}
html body b {
  font-weight: 700;
}
html body .title_container.center {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
html body .section {
  width: 100%;
}

.header {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
}
.header .header__logo {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
.header .header__logo .logo {
  display: flex;
  justify-content: center;
}
.header .header__logo .logo img {
  width: 100%;
  max-width: 240px;
}
.header .header__title .txt {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 120px 0px 0 0;
  line-height: 50px;
}
.header .header__title .header__title_btn {
  margin: 50px 0 0 0;
}
.header .header__desc {
  display: flex;
  padding: 100px 0;
}
.header .header__desc .header__desc_img {
  width: 50%;
}
.header .header__desc .header__desc_img img {
  width: 100%;
  max-width: 665px;
  border-radius: 18px;
}
.header .header__desc .header__desc_about {
  width: 50%;
  padding: 0 0 0 25px;
}
.header .header__desc .header__desc_about .header__desc_txt b {
  font-size: 20px;
}

.footer .footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .footer__container .item {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .item .title {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.footer .footer__container .item .txt {
  font-weight: 300;
}
.footer .footer__container .item .links {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}
.footer .footer__container .item a {
  color: #fff;
  text-decoration: none;
}
.footer .footer__container .item .messangers {
  margin: 40px 0 0 0;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin: 50px 0 0 0;
}
.gallery__list .gallery__item {
  width: 100%;
}
.gallery__list .gallery__item img {
  width: 100%;
  max-width: 430px;
  border-radius: 18px;
}

.impact {
  background-image: url("../img/other/impact_bg.png");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
}
.impact .impact__list {
  display: flex;
  justify-content: center;
}
.impact .impact__list .impact__item:not(:last-child) {
  margin: 0 30px 0 0;
}
.impact .impact__list .impact__item {
  max-width: 455px;
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6% 0;
}
.impact .impact__list .impact__item .title {
  margin: 0 0 40px 0;
  font-size: 2rem;
  font-weight: 700;
}
.impact .impact__list .impact__item .sub__title {
  margin: 40px 0 0 0;
  font-size: 2rem;
  font-weight: 700;
}

.levels .levels__list {
  display: grid;
  grid-column-gap: 30px;
}
.levels .levels__list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 25px;
  border: 1px solid #D9D9D9;
  border-radius: 18px;
}
.levels .levels__list .desc {
  margin: 0 0 0 20px;
}
.levels .levels__list .desc .title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}
.levels .levels__list .desc .title::after {
  content: "";
  background-image: url("../img/icons/coin.png");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 28px;
  margin: 0 0 0 10px;
}
.levels .levels__list .desc .txt {
  margin: 20px 0 0 0;
}
.levels .levels__list .desc .txt b {
  font-weight: 500;
}
.levels .levels__list_first {
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0 30px 0;
}
.levels .levels__list_second {
  grid-template-columns: repeat(2, 1fr);
}

.price .price__container {
  background-image: url("../img/other/price_bg.png");
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 33px;
  padding: 60px 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.price .price__container .txt {
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 20px 0;
}

.faq {
  background-image: url("../img/other/faq_bg.png");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}
.faq .accordion .accordion-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 0;
}
.faq .accordion .accordion-item .accordion-button {
  background-color: transparent;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  border: none;
  box-shadow: none;
  padding: 0;
}
.faq .accordion .accordion-item .accordion-button:after {
  background-image: url(../img/icons/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.faq .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url(../img/icons/minus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.faq .accordion .accordion-body {
  max-width: 75%;
  padding: 25px 0 0 0;
}
.faq .accordion .accordion-body strong {
  font-weight: 300;
}
.faq .accordion * {
  color: #fff;
}

@media (min-width: 992px) {
  .container {
    max-width: 1360px;
    padding: 0 0;
  }
}